.form {
    color: white;
    width: 960px;
    height: 680px;
    border-radius: 10px;
    background: #6ca4e9;
    display: flex;
}

.text {
    width: 65%;
    height: 100%;
    background: #6ca4e9;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    position: relative;
}

button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 5px;
    border: none;
    width: 120px;
}

.logo {
    color: blue;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}

.page-text {
    font-size: xx-large;
    margin-bottom: 20px;
}

form {
    position: relative
}

form input {
    border: none;
    border-color: transparent;
    -webkit-appearance: none;
    border: 0;
    background-color: #6ca4e9;
    border-radius: 10px;
    width: 300px;
}

form input:focus {
    outline: none;
}

form label {
    letter-spacing: 1px;
    position: absolute;
}

.email-label {
    top: 38px;
    left: 60px;
    background: transparent;
    font-size: larger;
}

.email-label-focussed {
    font-size: smaller;
    top: 10px;
    left: 10px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: white;
}

#email-errp {
    visibility: hidden;
}

.password-label {
    background: transparent;
    font-size: larger;
    left: 60px;
    top: 145px;
}

.password-label-focussed {
    font-size: smaller;
    top: 118px;
    left: 10px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: white;
}

#pass-errp {
    visibility: hidden;
}

.input-content {
    border-radius: 10px;
    padding: 20px 10px;
    margin: 20px 0px 0px;
    border-radius: 5px;
    background: #6ca4e9;
}

.email-input,
.password-input {
    background-color: #6ca4e9;
    border: 10px;
}

.infocus {
    background: #6ca4e9;
    box-shadow: 6px 6px 12px #5079ac, -6px -6px 12px #88cfff;
}

.outfocus {
    background: #6ca4e9;
    box-shadow: inset 6px 6px 12px #5079ac, inset -6px -6px 12px #88cfff;
}

.input-content i {
    margin: 0px 20px 0px 10px;
}

.forgot {
    color: rgb(236, 234, 234);
    font-size: small;
    margin-bottom: 20px;
    margin-top: 10px;
}

.forgot:hover {
    color: blue;
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
}

form button {
    margin-right: 20px;
    min-width: 100px;
}

.login-btn,
.signup {
    border-radius: 5px;
    background: #6ca4e9;
    box-shadow: 6px 6px 12px #5079ac, -6px -6px 12px #88cfff;
    color: white;
    border-style: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.login-btn:hover,
.signup:hover {
    border-radius: 5px;
    background: #6ca4e9;
    box-shadow: inset 6px 6px 12px #5079ac, inset -6px -6px 12px #88cfff;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.first-content {
    /* margin-right: 150px; */
    color: rgb(219, 218, 218);
}

.logo-text {
    cursor: pointer;
}

.logo-text:hover {
    font-weight: bolder;
}

.icons i {
    margin-right: 10px;
    font-size: 25px;
    color: rgb(228, 225, 225)
}

.icons i:hover {
    font-weight: bolder;
    color: rgb(119, 252, 230);
}

.bg {
    width: 35%;
    height: 100%;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    border-radius: 0px 10px 10px 0px;
    background-image: url('../assets/bubble.jfif');
    background-size: cover;
}

@media(max-width:1022px) {
    .form {
        width: 98vw;
    }
}

@media(max-width:767px) {
    .bg {
        display: none;
    }
    .form {
        width: 100vw;
    }
    .text {
        width: 100%;
        border-radius: 10px;
    }
    button {
        max-width: 30vw;
    }
}

@media(max-width:479px) {
    .text {
        padding-left: 10px;
    }
    .form .input-content {
        width: 80vw;
    }
    .login input {
        width: 40vw;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin-left: 0px;
    }
    .page-text {
        font-size: large;
    }
}