.register {
    color: black;
    background: #6ca4e9;
    border-radius: 10px;
    display: flex;
    width: 1000px;
    height: 975px;
}

.register .text {
    padding: 50px 20px 0px 20px;
    width: 75%;
}

.register .bg {
    width: 25%;
}

.register .input-content {
    margin-top: 0px;
}

.register .signup-form p {
    visibility: hidden;
}

#checkbox-p {
    visibility: hidden;
}

.radio-buttons p {
    visibility: hidden;
}

.input-content label {
    cursor: text;
}

.signup-form input {
    width: 320px;
}

.account-details {
    color: rgb(70, 69, 69);
    margin-bottom: 20px;
}

.names {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.name-label {
    top: 20px;
    left: 20px;
    background: transparent;
    font-size: larger;
    text-transform: none;
    letter-spacing: normal;
}

.name-label-focus {
    font-size: small;
    color: black;
    top: -10px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
}

.username-label {
    background: transparent;
    font-size: larger;
    text-transform: none;
    letter-spacing: normal;
    left: 380px;
    top: 20px;
}

.username-label-focus {
    font-size: smaller;
    top: -10px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: black;
}

.email-label-2 {
    background: transparent;
    font-size: larger;
    text-transform: none;
    letter-spacing: normal;
    left: 20px;
    top: 120px;
}

.email-label-focus {
    font-size: smaller;
    top: 92px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: black;
}

.password-label-2 {
    background: transparent;
    font-size: larger;
    text-transform: none;
    letter-spacing: normal;
    top: 120px;
    left: 380px;
}

.password-label-focus {
    font-size: smaller;
    top: 92px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: black;
}

.referral-label {
    background: transparent;
    font-size: larger;
    text-transform: none;
    letter-spacing: normal;
    bottom: 20px;
    left: 20px;
}

.referral-label-focus {
    font-size: smaller;
    bottom: 56px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: black;
}

.personal-details {
    margin: 20px 0px;
    color: grey;
}

.radio-buttons {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin-bottom: 0px;
}

.radio-toolbar {
    margin: 10px 0px;
    background-color: #6ca4e9;
    padding: 20px 10px;
    width: 320px;
    border-radius: 10px;
    position: relative;
    box-shadow: 6px 6px 12px #5079ac, -6px -6px 12px #88cfff;
    text-align: center;
}

.gender-title {
    position: absolute;
    font-size: small;
    font-weight: bolder;
    letter-spacing: 1px;
    top: -12px;
    text-transform: uppercase;
    background: transparent;
}

.academics-title {
    position: absolute;
    font-size: small;
    font-weight: bolder;
    letter-spacing: 1px;
    top: -10px;
    text-transform: uppercase;
    background: transparent
}

.birthday {
    position: relative;
    border-radius: 10px;
    margin-top: 0px;
    width: 320px;
    padding: 20px 15px;
    background-color: #6ca4e9;
    box-shadow: 6px 6px 12px #5079ac, -6px -6px 12px #88cfff;
}

.birthday-input {
    background-color: #6ca4e9;
    padding: 20px 15px;
    min-width: 320px;
    border-radius: 10px;
    border: none;
}

.Datepicker {
    background-color: #6ca4e9;
    border: none;
    font-size: large;
}

.Datepicker:focus {
    outline: none;
}

.birthday-input:focus {
    outline: none;
}

.birthday-title {
    font-size: small;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    left: 10px;
    background: transparent;
    color: black;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #6ca4e9;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 10px;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
    box-shadow: 6px 6px 12px #5079ac, -6px -6px 12px #88cfff;
}

.radio-toolbar label:hover {
    box-shadow: inset 6px 6px 12px #5079ac, inset -6px -6px 12px #88cfff;
}

.radio-toolbar input[type="radio"]:checked+label {
    box-shadow: inset 6px 6px 12px #5079ac, inset -6px -6px 12px #88cfff;
    color: black;
}

.terms {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.terms input,
.terms label {
    cursor: pointer;
}

.terms input {
    margin-right: 10px;
}

.terms input:checked+label {
    color: black;
}

.terms label {
    font-size: small;
}

.signup-page-btns button {
    margin: 20px 20px 100px 0px;
    min-width: 100px;
}

@media(max-width:1022px) {
    .register {
        width: 98vw;
    }
    .register .bg {
        display: none;
    }
    .register .text {
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width:767px) {
    .register {
        width: 100vw;
        height: auto;
    }
    .names {
        flex-direction: column;
        width: 90vw;
    }
    .username-label {
        top: 120px;
        left: 20px;
    }
    .email-label-2 {
        top: 220px;
    }
    .password-label-2 {
        top: 320px;
        left: 20px;
    }
    .radio-buttons {
        flex-direction: column;
        width: 90vw;
    }
    .username-label-focus {
        top: 92px;
    }
    .email-label-focus {
        top: 195px;
    }
    .password-label-focus {
        top: 295px;
    }
    .radio-toolbar {
        max-width: 90vw;
    }
    .radio-toolbar label {
        padding: 5px 10px;
        font-size: 12px;
    }
    .signup-form input {
        width: 60vw;
    }
    .birthday {
        width: 90vw;
    }
}