.App {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#6cb2ebfa, #082c8f);
    padding: 20px 0px;
}