.App {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#3271a8, #3c32a8);
    background-image: url('./assets/2.jfif');
    background-size: cover;
}